@font-face {
    font-family: "DM Sans";
    src:
        url("../../fonts/dm-sans-regular.woff2") format("woff2"),
        url("../../fonts/dm-sans-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src:
        url("../../fonts/dm-sans-medium.woff2") format("woff2"),
        url("../../fonts/dm-sans-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src:
        url("../../fonts/dm-sans-semibold.woff2") format("woff2"),
        url("../../fonts/dm-sans-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src:
        url("../../fonts/dm-sans-bold.woff2") format("woff2"),
        url("../../fonts/dm-sans-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src:
        url("../../fonts/dm-sans-extrabold.woff2") format("woff2"),
        url("../../fonts/dm-sans-extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wix Madefor Display";
    src:
        url("../../fonts/wix-madefor-display-bold.woff2") format("woff2"),
        url("../../fonts/wix-madefor-display-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wix Madefor Display";
    src:
        url("../../fonts/wix-madefor-display-extrabold.woff2") format("woff2"),
        url("../../fonts/wix-madefor-display-extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
