@use "./../init" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
}
