.c-toast {
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    z-index: 999;
    padding: 1.4rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    pointer-events: none;
    border-radius: 0.6rem;
    opacity: 0;
    z-index: 100000000;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    transform: translateY(1rem);

    &.is-visible {
        opacity: 1;
        transform: translateY(0);
    }

    &.is-success {
        background: #149721;
    }

    &.is-error {
        background: #dd1969;
    }
}

@media screen and (max-width: 768px) {
    .c-toast {
        max-width: 32.7rem;
    }
}
