@use "./../../init" as *;

.c-solution-cta {
    position: relative;
    width: 64rem;
    min-height: 54rem;
    overflow: hidden;
    border-radius: 0.8rem;

    &__image {
        position: absolute;
        inset: 0;
        background-color: var(--c-bg);
        background-image: url("/cta/cta-banner.webp");
        background-position: center;
        background-size: cover;
        border-radius: 0.8rem;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 40%);
        border-radius: 0.8rem;
    }

    &__content {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
        padding: 25.5rem 17.2rem 4.8rem 4.8rem;
        color: #fff;

        &__title {
            margin: 0;
            font-family: var(--f-heading);
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 0.8rem;
        }

        &__description {
            margin: 0;
            font-family: var(--f-primary);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6;
            margin-bottom: 1.6rem;

            strong {
                font-weight: 800;
            }
        }

        &__button {
            display: flex;
            gap: 0.8rem;
            align-items: center;
            justify-content: space-between;
            padding: 1.6rem 2rem;
            color: #fff;
            cursor: pointer;
            background: #dd1969;
            border: none;
            border-radius: 0.4rem;
            transition: background 0.2s ease;

            &:hover {
                background: #c01559;
            }

            &:active {
                background: #a01249;
            }

            .sc-text {
                font-family: var(--f-heading);
                font-size: 1.6rem;
                font-weight: 700;
                white-space: nowrap;
            }

            .sc-icon {
                flex-shrink: 0;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media screen and (resolution >= 2x) {
    .c-solution-cta {
        &__image {
            background-image: url("/cta/cta-banner@2x.webp");
        }
    }
}
