@use "./../../init" as *;

@use "./solution_cta";

.c-solution-content {
    display: flex;
    gap: 2.4rem;
    align-items: flex-start;

    &__wrapper {
        max-width: 132rem;
        margin: 0 auto;
        padding: 0;
    }

    &__cta {
        flex: 0 0 64rem;
    }

    &__products {
        flex: 0 0 65.6rem;
    }
}
