@use "./../../init" as *;

@use "./solution_cta";

.c-solution-content {
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;
    margin-bottom: 8rem;

    &__cta {
        width: 64rem;
        height: auto;
    }

    &__products {
        width: 65.6rem;
        gap: 2.4rem;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}
