@use "./../../init" as *;

.c-product-card {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 31.6rem;
    height: 100%;
    min-height: 54rem;
    padding: 3rem 2.4rem;
    overflow: hidden;
    background: #fff;
    border: 0.1rem solid #f1f0f6;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%);

    &:hover .c-product-card__actions__button {
        pointer-events: auto;
        opacity: 1;
    }

    &__badges {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        display: flex;
        gap: 0.4rem;

        &__badge {
            padding: 0.4rem 0.8rem;
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--c-white);
            text-align: center;
            border-radius: 0.4rem;
        }

        &__discount {
            background-color: #7d2f78;
        }

        &__new {
            background-color: #149721;
        }
    }

    &__actions {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        display: flex;
        gap: 0.6rem;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            height: 3.2rem;
            pointer-events: none;
            cursor: pointer;
            border: none;
            border-radius: 0.4rem;
            outline: none;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }

        &__button-icon {
            width: 1.6rem;
            height: 1.6rem;
            fill: #070216;
            stroke: #070216;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 19.6rem;
        margin-bottom: 3rem;
    }

    &__content {
        flex: 1;
        margin-bottom: 3.2rem;
        overflow: hidden;

        &__rating {
            display: flex;
            gap: 0.4rem;
            align-items: center;
            margin-bottom: 0.8rem;
        }

        .c-rating-stars {
            display: flex;
            gap: 0.4rem;
            color: #f1f0f6;
        }

        .c-rating-star {
            color: #f1f0f6;

            &.is-active {
                color: #f5d40e;
            }
        }

        .c-product-card__reviews {
            font-size: 1.2rem;
            font-weight: 400;
            color: #070216;
        }

        &__title {
            display: -webkit-box;
            margin-bottom: 0.6rem;
            overflow: hidden;
            font-family: var(--f-heading);
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.25;
            color: #070216;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &__model {
            margin-bottom: 1.6rem;
            overflow: hidden;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.6;
            color: #555;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__prices {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.6rem;
        }

        .c-product-card__old-price {
            font-size: 1.3rem;
            font-weight: 400;
            color: #070216;
            text-decoration: line-through;
        }

        .c-product-card__price {
            font-family: var(--f-heading);
            font-size: 2rem;
            font-weight: 800;
            color: #dd1969;
            text-transform: uppercase;
        }

        .c-product-card__vat {
            font-size: 13px;
            font-weight: 400;
            color: #555;
        }

        .c-product-card__stock {
            font-size: 14px;
            font-weight: 600;
            color: #149721;
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }

    &__controls {
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__quantity {
            display: flex;
            gap: 0.8rem;
            align-items: center;
        }

        &__quantity-btn-icon {
            width: 1.2rem;
            height: 1.2rem;
            fill: #070216;
        }

        &__quantity-btn {
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            transition: opacity 0.25s ease-in-out;

            &:hover,
            &:focus {
                opacity: 0.8;
            }
        }

        &__quantity-input {
            display: flex;
            width: 4.6rem;
            height: 4.4rem;
            padding: 0.8rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: #070216;
            text-align: center;
            border: 1px solid #f1f0f6;
            border-radius: 0.4rem;
            outline: none;

            &:focus-within {
                border-color: #dd1969;
            }
        }

        &__add-btn {
            display: flex;
            gap: 1rem;
            align-items: center;
            min-width: 15.6rem;
            height: 4.5rem;
            padding: 0 2.4rem;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--c-white);
            cursor: pointer;
            background-color: #dd1969;
            border: none;
            border-radius: 0.4rem;
            outline: none;
            transition: background-color 0.25s ease-in-out;

            &:hover,
            &:focus {
                background-color: #c01559;
            }

            &:active {
                background-color: #a01249;
            }
        }

        &__add-btn-icon {
            width: 2.2rem;
            height: 2.1rem;
        }
    }
}
